html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }
  html *, html *:after, html *:before,
  body *,
  body *:after,
  body *:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }

[debug] > * {
  padding: 1px;
  border: 1px solid #00d7fd; }

[debug] > [debug] > * {
  border: 1px solid #5f40e8; }

[debug] > [debug] > [debug] > * {
  border: 1px solid #f50000; }

[debug] > [debug] > [debug] > [debug] > * {
  border: 1px solid #f500f5; }

[debug] > [debug] > [debug] > [debug] > [debug] > * {
  border: 1px solid #00f514; }

p,
span,
small,
a,
section,
strong,
i,
b,
article,
ul,
ol,
button,
input,
select,
textarea,
pre,
code,
label {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  line-height: 1.5; }

small {
  font-size: 0.85rem; }

a {
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease; }
  a:hover {
    color: #000; }

a,
button,
select,
input {
  outline: 0 !important; }

h1, mega-title, jumbo-title,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 0;
  padding: 0; }
  h1[light], mega-title[light], jumbo-title[light],
  h2[light],
  h3[light],
  h4[light],
  h5[light],
  h6[light] {
    font-weight: normal; }

mega-title {
  font-size: 2.5rem; }

jumbo-title {
  font-size: 3rem; }

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }
  img [covered] {
    -o-object-fit: cover;
    object-fit: cover; }

icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 20px;
  min-height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

[wrapper] {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 32.5rem) {
    [wrapper] {
      max-width: 90%; } }
  @media screen and (min-width: 61.25rem) {
    [wrapper] {
      max-width: 80%; } }
  @media screen and (min-width: 80rem) {
    [wrapper] {
      max-width: 75%; } }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .flex.nowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  @media screen and (min-width: 48rem) {
    .flex:not([autofill]), .flex:not([breakpoint]), .flex:not([autodense]) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .flex[autofill] > *:not([clearfix]) {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .flex[autodense] > *:not([clearfix]) {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto; }
  @media screen and (min-width: 32.5rem) {
    .flex[breakpoint="touch"] {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  @media screen and (min-width: 48rem) {
    .flex[breakpoint="tablet"] {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  @media screen and (min-width: 61.25rem) {
    .flex[breakpoint="desktop"] {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .flex.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.center-v {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.center-h {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.separated {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.distributed {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.block {
  width: 100%; }

.half {
  width: 100%; }
  @media screen and (min-width: 32.5rem) {
    .half {
      width: 50%; } }

@media screen and (min-width: 12.5rem) {
  .base1 {
    width: 5%; }
  .base2 {
    width: 10%; }
  .base3 {
    width: 15%; }
  .base4 {
    width: 20%; }
  .base5 {
    width: 25%; }
  .base6 {
    width: 30%; }
  .base7 {
    width: 35%; }
  .base8 {
    width: 40%; }
  .base9 {
    width: 45%; }
  .half {
    width: 50%; }
  .base11 {
    width: 55%; }
  .base12 {
    width: 60%; }
  .base13 {
    width: 65%; }
  .base14 {
    width: 70%; }
  .base15 {
    width: 75%; }
  .base16 {
    width: 80%; }
  .base17 {
    width: 85%; }
  .base18 {
    width: 90%; }
  .base19 {
    width: 95%; }
  .block {
    width: 100%; }
  .hidden {
    display: none; }
  .center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .center-v {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .center-h {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .separated {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .distributed {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media screen and (min-width: 32.5rem) {
  .base1 {
    width: 5%; }
  .base2 {
    width: 10%; }
  .base3 {
    width: 15%; }
  .base4 {
    width: 20%; }
  .base5 {
    width: 25%; }
  .base6 {
    width: 30%; }
  .base7 {
    width: 35%; }
  .base8 {
    width: 40%; }
  .base9 {
    width: 45%; }
  .half {
    width: 50%; }
  .base11 {
    width: 55%; }
  .base12 {
    width: 60%; }
  .base13 {
    width: 65%; }
  .base14 {
    width: 70%; }
  .base15 {
    width: 75%; }
  .base16 {
    width: 80%; }
  .base17 {
    width: 85%; }
  .base18 {
    width: 90%; }
  .base19 {
    width: 95%; }
  .block {
    width: 100%; }
  .hidden {
    display: none; }
  .center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .center-v {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .center-h {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .separated {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .distributed {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media screen and (min-width: 48rem) {
  .base1 {
    width: 5%; }
  .base2 {
    width: 10%; }
  .base3 {
    width: 15%; }
  .base4 {
    width: 20%; }
  .base5 {
    width: 25%; }
  .base6 {
    width: 30%; }
  .base7 {
    width: 35%; }
  .base8 {
    width: 40%; }
  .base9 {
    width: 45%; }
  .half {
    width: 50%; }
  .base11 {
    width: 55%; }
  .base12 {
    width: 60%; }
  .base13 {
    width: 65%; }
  .base14 {
    width: 70%; }
  .base15 {
    width: 75%; }
  .base16 {
    width: 80%; }
  .base17 {
    width: 85%; }
  .base18 {
    width: 90%; }
  .base19 {
    width: 95%; }
  .block {
    width: 100%; }
  .hidden {
    display: none; }
  .center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .center-v {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .center-h {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .separated {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .distributed {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media screen and (min-width: 61.25rem) {
  .base1 {
    width: 5%; }
  .base2 {
    width: 10%; }
  .base3 {
    width: 15%; }
  .base4 {
    width: 20%; }
  .base5 {
    width: 25%; }
  .base6 {
    width: 30%; }
  .base7 {
    width: 35%; }
  .base8 {
    width: 40%; }
  .base9 {
    width: 45%; }
  .half {
    width: 50%; }
  .base11 {
    width: 55%; }
  .base12 {
    width: 60%; }
  .base13 {
    width: 65%; }
  .base14 {
    width: 70%; }
  .base15 {
    width: 75%; }
  .base16 {
    width: 80%; }
  .base17 {
    width: 85%; }
  .base18 {
    width: 90%; }
  .base19 {
    width: 95%; }
  .block {
    width: 100%; }
  .hidden {
    display: none; }
  .center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .center-v {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .center-h {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .separated {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .distributed {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media screen and (min-width: 80rem) {
  .base1 {
    width: 5%; }
  .base2 {
    width: 10%; }
  .base3 {
    width: 15%; }
  .base4 {
    width: 20%; }
  .base5 {
    width: 25%; }
  .base6 {
    width: 30%; }
  .base7 {
    width: 35%; }
  .base8 {
    width: 40%; }
  .base9 {
    width: 45%; }
  .half {
    width: 50%; }
  .base11 {
    width: 55%; }
  .base12 {
    width: 60%; }
  .base13 {
    width: 65%; }
  .base14 {
    width: 70%; }
  .base15 {
    width: 75%; }
  .base16 {
    width: 80%; }
  .base17 {
    width: 85%; }
  .base18 {
    width: 90%; }
  .base19 {
    width: 95%; }
  .block {
    width: 100%; }
  .hidden {
    display: none; }
  .center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .center-v {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .center-h {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .separated {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .distributed {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media screen and (min-width: 12.5rem) {
  .base1-m {
    width: 5%; }
  .base2-m {
    width: 10%; }
  .base3-m {
    width: 15%; }
  .base4-m {
    width: 20%; }
  .base5-m {
    width: 25%; }
  .base6-m {
    width: 30%; }
  .base7-m {
    width: 35%; }
  .base8-m {
    width: 40%; }
  .base9-m {
    width: 45%; }
  .half-m {
    width: 50%; }
  .base11-m {
    width: 55%; }
  .base12-m {
    width: 60%; }
  .base13-m {
    width: 65%; }
  .base14-m {
    width: 70%; }
  .base15-m {
    width: 75%; }
  .base16-m {
    width: 80%; }
  .base17-m {
    width: 85%; }
  .base18-m {
    width: 90%; }
  .base19-m {
    width: 95%; }
  .block-m {
    width: 100%; }
  .hidden-m {
    display: none; }
  .center-m {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .center-v-m {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .center-h-m {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .top-m {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .left-m {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .bottom-m {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .right-m {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .separated-m {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .distributed-m {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media screen and (min-width: 32.5rem) {
  .base1-t {
    width: 5%; }
  .base2-t {
    width: 10%; }
  .base3-t {
    width: 15%; }
  .base4-t {
    width: 20%; }
  .base5-t {
    width: 25%; }
  .base6-t {
    width: 30%; }
  .base7-t {
    width: 35%; }
  .base8-t {
    width: 40%; }
  .base9-t {
    width: 45%; }
  .half-t {
    width: 50%; }
  .base11-t {
    width: 55%; }
  .base12-t {
    width: 60%; }
  .base13-t {
    width: 65%; }
  .base14-t {
    width: 70%; }
  .base15-t {
    width: 75%; }
  .base16-t {
    width: 80%; }
  .base17-t {
    width: 85%; }
  .base18-t {
    width: 90%; }
  .base19-t {
    width: 95%; }
  .block-t {
    width: 100%; }
  .hidden-t {
    display: none; }
  .center-t {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .center-v-t {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .center-h-t {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .top-t {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .left-t {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .bottom-t {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .right-t {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .separated-t {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .distributed-t {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media screen and (min-width: 48rem) {
  .base1-tb {
    width: 5%; }
  .base2-tb {
    width: 10%; }
  .base3-tb {
    width: 15%; }
  .base4-tb {
    width: 20%; }
  .base5-tb {
    width: 25%; }
  .base6-tb {
    width: 30%; }
  .base7-tb {
    width: 35%; }
  .base8-tb {
    width: 40%; }
  .base9-tb {
    width: 45%; }
  .half-tb {
    width: 50%; }
  .base11-tb {
    width: 55%; }
  .base12-tb {
    width: 60%; }
  .base13-tb {
    width: 65%; }
  .base14-tb {
    width: 70%; }
  .base15-tb {
    width: 75%; }
  .base16-tb {
    width: 80%; }
  .base17-tb {
    width: 85%; }
  .base18-tb {
    width: 90%; }
  .base19-tb {
    width: 95%; }
  .block-tb {
    width: 100%; }
  .hidden-tb {
    display: none; }
  .center-tb {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .center-v-tb {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .center-h-tb {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .top-tb {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .left-tb {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .bottom-tb {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .right-tb {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .separated-tb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .distributed-tb {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media screen and (min-width: 61.25rem) {
  .base1-d {
    width: 5%; }
  .base2-d {
    width: 10%; }
  .base3-d {
    width: 15%; }
  .base4-d {
    width: 20%; }
  .base5-d {
    width: 25%; }
  .base6-d {
    width: 30%; }
  .base7-d {
    width: 35%; }
  .base8-d {
    width: 40%; }
  .base9-d {
    width: 45%; }
  .half-d {
    width: 50%; }
  .base11-d {
    width: 55%; }
  .base12-d {
    width: 60%; }
  .base13-d {
    width: 65%; }
  .base14-d {
    width: 70%; }
  .base15-d {
    width: 75%; }
  .base16-d {
    width: 80%; }
  .base17-d {
    width: 85%; }
  .base18-d {
    width: 90%; }
  .base19-d {
    width: 95%; }
  .block-d {
    width: 100%; }
  .hidden-d {
    display: none; }
  .center-d {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .center-v-d {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .center-h-d {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .top-d {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .left-d {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .bottom-d {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .right-d {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .separated-d {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .distributed-d {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media screen and (min-width: 80rem) {
  .base1-hd {
    width: 5%; }
  .base2-hd {
    width: 10%; }
  .base3-hd {
    width: 15%; }
  .base4-hd {
    width: 20%; }
  .base5-hd {
    width: 25%; }
  .base6-hd {
    width: 30%; }
  .base7-hd {
    width: 35%; }
  .base8-hd {
    width: 40%; }
  .base9-hd {
    width: 45%; }
  .half-hd {
    width: 50%; }
  .base11-hd {
    width: 55%; }
  .base12-hd {
    width: 60%; }
  .base13-hd {
    width: 65%; }
  .base14-hd {
    width: 70%; }
  .base15-hd {
    width: 75%; }
  .base16-hd {
    width: 80%; }
  .base17-hd {
    width: 85%; }
  .base18-hd {
    width: 90%; }
  .base19-hd {
    width: 95%; }
  .block-hd {
    width: 100%; }
  .hidden-hd {
    display: none; }
  .center-hd {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .center-v-hd {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .center-h-hd {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .top-hd {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .left-hd {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .bottom-hd {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .right-hd {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .separated-hd {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .distributed-hd {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media screen and (max-width: 32.5rem) {
  .visible-t {
    display: none; } }

@media screen and (max-width: 48rem) {
  .visible-tb {
    display: none; } }

@media screen and (max-width: 61.25rem) {
  .visible-d {
    display: none; } }

@media screen and (max-width: 80rem) {
  .visible-hd {
    display: none; } }

button,
.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  padding: 0 1rem;
  border: 1px solid transparent;
  background-color: whitesmoke;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  cursor: pointer; }
  button:active,
  .button:active {
    background-color: #e8e8e8; }
  button[rounded],
  .button[rounded] {
    border-radius: 4rem;
    padding: 0 2rem; }

input,
select {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border: 1px solid gray;
  -webkit-transition: border-color .25s ease;
  -o-transition: border-color .25s ease;
  transition: border-color .25s ease;
  padding: 0 1rem;
  width: 100%; }
  input[rounded],
  select[rounded] {
    border-radius: 4rem;
    padding: 0 2rem; }
  input:focus,
  select:focus {
    border: 1px solid #000; }
  input::-webkit-calendar-picker-indicator,
  select::-webkit-calendar-picker-indicator {
    display: none !important; }

input[type="checkbox"],
input[type="radio"] {
  display: none; }
  input[type="checkbox"]:checked + label::before,
  input[type="radio"]:checked + label::before {
    -webkit-box-shadow: inset 0 0 0 2px white, inset 0 0 0 1rem #000;
    box-shadow: inset 0 0 0 2px white, inset 0 0 0 1rem #000; }

label[type="checkbox"], label[type="radio"] {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  cursor: pointer; }
  label[type="checkbox"]:before, label[type="radio"]:before {
    content: '';
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    border-radius: 2px;
    border: 1px solid #000;
    margin-right: 0.5rem;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }

label[type="radio"]:before {
  border-radius: 100%; }

form-radio,
form-check {
  display: inline-block; }

.marginless {
  margin: 0 !important; }

.paddingless {
  padding: 0 !important; }

.padding-1 {
  padding: 0.5rem; }

.margin-1 {
  margin: 0.5rem; }

.padding-v-1 {
  padding: 0.5rem 0; }

.margin-v-1 {
  margin: 0.5rem 0; }

.padding-h-1 {
  padding: 0 0.5rem; }

.margin-h-1 {
  margin: 0 0.5rem; }

.padding-t-1 {
  padding-top: 0.5rem; }

.margin-t-1 {
  margin-top: 0.5rem; }

.padding-b-1 {
  padding-bottom: 0.5rem; }

.margin-b-1 {
  margin-bottom: 0.5rem; }

.padding-l-1 {
  padding-left: 0.5rem; }

.margin-l-1 {
  margin-left: 0.5rem; }

.padding-r-1 {
  padding-right: 0.5rem; }

.margin-r-1 {
  margin-right: 0.5rem; }

.padding-2 {
  padding: 1rem; }

.margin-2 {
  margin: 1rem; }

.padding-v-2 {
  padding: 1rem 0; }

.margin-v-2 {
  margin: 1rem 0; }

.padding-h-2 {
  padding: 0 1rem; }

.margin-h-2 {
  margin: 0 1rem; }

.padding-t-2 {
  padding-top: 1rem; }

.margin-t-2 {
  margin-top: 1rem; }

.padding-b-2 {
  padding-bottom: 1rem; }

.margin-b-2 {
  margin-bottom: 1rem; }

.padding-l-2 {
  padding-left: 1rem; }

.margin-l-2 {
  margin-left: 1rem; }

.padding-r-2 {
  padding-right: 1rem; }

.margin-r-2 {
  margin-right: 1rem; }

.padding-3 {
  padding: 1.5rem; }

.margin-3 {
  margin: 1.5rem; }

.padding-v-3 {
  padding: 1.5rem 0; }

.margin-v-3 {
  margin: 1.5rem 0; }

.padding-h-3 {
  padding: 0 1.5rem; }

.margin-h-3 {
  margin: 0 1.5rem; }

.padding-t-3 {
  padding-top: 1.5rem; }

.margin-t-3 {
  margin-top: 1.5rem; }

.padding-b-3 {
  padding-bottom: 1.5rem; }

.margin-b-3 {
  margin-bottom: 1.5rem; }

.padding-l-3 {
  padding-left: 1.5rem; }

.margin-l-3 {
  margin-left: 1.5rem; }

.padding-r-3 {
  padding-right: 1.5rem; }

.margin-r-3 {
  margin-right: 1.5rem; }

.padding-4 {
  padding: 2rem; }

.margin-4 {
  margin: 2rem; }

.padding-v-4 {
  padding: 2rem 0; }

.margin-v-4 {
  margin: 2rem 0; }

.padding-h-4 {
  padding: 0 2rem; }

.margin-h-4 {
  margin: 0 2rem; }

.padding-t-4 {
  padding-top: 2rem; }

.margin-t-4 {
  margin-top: 2rem; }

.padding-b-4 {
  padding-bottom: 2rem; }

.margin-b-4 {
  margin-bottom: 2rem; }

.padding-l-4 {
  padding-left: 2rem; }

.margin-l-4 {
  margin-left: 2rem; }

.padding-r-4 {
  padding-right: 2rem; }

.margin-r-4 {
  margin-right: 2rem; }

.padding-5 {
  padding: 2.5rem; }

.margin-5 {
  margin: 2.5rem; }

.padding-v-5 {
  padding: 2.5rem 0; }

.margin-v-5 {
  margin: 2.5rem 0; }

.padding-h-5 {
  padding: 0 2.5rem; }

.margin-h-5 {
  margin: 0 2.5rem; }

.padding-t-5 {
  padding-top: 2.5rem; }

.margin-t-5 {
  margin-top: 2.5rem; }

.padding-b-5 {
  padding-bottom: 2.5rem; }

.margin-b-5 {
  margin-bottom: 2.5rem; }

.padding-l-5 {
  padding-left: 2.5rem; }

.margin-l-5 {
  margin-left: 2.5rem; }

.padding-r-5 {
  padding-right: 2.5rem; }

.margin-r-5 {
  margin-right: 2.5rem; }

.padding-6 {
  padding: 3rem; }

.margin-6 {
  margin: 3rem; }

.padding-v-6 {
  padding: 3rem 0; }

.margin-v-6 {
  margin: 3rem 0; }

.padding-h-6 {
  padding: 0 3rem; }

.margin-h-6 {
  margin: 0 3rem; }

.padding-t-6 {
  padding-top: 3rem; }

.margin-t-6 {
  margin-top: 3rem; }

.padding-b-6 {
  padding-bottom: 3rem; }

.margin-b-6 {
  margin-bottom: 3rem; }

.padding-l-6 {
  padding-left: 3rem; }

.margin-l-6 {
  margin-left: 3rem; }

.padding-r-6 {
  padding-right: 3rem; }

.margin-r-6 {
  margin-right: 3rem; }

.padding-7 {
  padding: 3.5rem; }

.margin-7 {
  margin: 3.5rem; }

.padding-v-7 {
  padding: 3.5rem 0; }

.margin-v-7 {
  margin: 3.5rem 0; }

.padding-h-7 {
  padding: 0 3.5rem; }

.margin-h-7 {
  margin: 0 3.5rem; }

.padding-t-7 {
  padding-top: 3.5rem; }

.margin-t-7 {
  margin-top: 3.5rem; }

.padding-b-7 {
  padding-bottom: 3.5rem; }

.margin-b-7 {
  margin-bottom: 3.5rem; }

.padding-l-7 {
  padding-left: 3.5rem; }

.margin-l-7 {
  margin-left: 3.5rem; }

.padding-r-7 {
  padding-right: 3.5rem; }

.margin-r-7 {
  margin-right: 3.5rem; }

.padding-8 {
  padding: 4rem; }

.margin-8 {
  margin: 4rem; }

.padding-v-8 {
  padding: 4rem 0; }

.margin-v-8 {
  margin: 4rem 0; }

.padding-h-8 {
  padding: 0 4rem; }

.margin-h-8 {
  margin: 0 4rem; }

.padding-t-8 {
  padding-top: 4rem; }

.margin-t-8 {
  margin-top: 4rem; }

.padding-b-8 {
  padding-bottom: 4rem; }

.margin-b-8 {
  margin-bottom: 4rem; }

.padding-l-8 {
  padding-left: 4rem; }

.margin-l-8 {
  margin-left: 4rem; }

.padding-r-8 {
  padding-right: 4rem; }

.margin-r-8 {
  margin-right: 4rem; }

.opacity-0 {
  opacity: 0; }

.opacity-1 {
  opacity: .1; }

.opacity-2 {
  opacity: .2; }

.opacity-3 {
  opacity: .3; }

.opacity-4 {
  opacity: .4; }

.opacity-5 {
  opacity: .5; }

.opacity-6 {
  opacity: .6; }

.opacity-7 {
  opacity: .7; }

.opacity-8 {
  opacity: .8; }

.opacity-9 {
  opacity: .9; }
